@use 'sass:color';

/*!
 * Marp / Marpit Custom CSCS theme.
 *
 * @theme cscs
 * @author Prashanth
 *
 * @auto-scaling true
 * @size 16:9 1920px 1080px
 * @size 4:3 1440px 1080px
 * @size 4K 3840px 2160px
 */

@import 'gaia';

footer {
    position:fixed;
    padding-bottom:65px;
    left:0;
    right:0;
    width: fit-content;
}

section.titlecover h1 {
    text-align: left;
    color: #000;
    padding-top: 600px;
}

.twocolumns {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
}
